{% extends "home/base.html" %} 

{% block title %} Code-Shortener | ShortLink {% endblock %}

{% block body %}
<div id="urlFormContainer" class="mx-auto card m-5 p-3 col-12 col-sm-5">
    <center><h3 class="section-heading" >Code Shortener</h3></center>
    <hr>

    <form method="POST" id="urlForm">
    
        {% csrf_token %}
       
        {% if url %}
        <p>Your URL is <a href="{{url}}">{{url}}</a></p>
        {% endif %}

        <div class="form-group">
            <label for="code">Paste The Code *</label>
            <textarea rows="10" type="text" class="form-control" id="code" placeholder="Code" name="code" required /></textarea>
        </div>

        <div class="form-group">
            <label for="backhalf">Enter Back-Half * </label>
            <input type="text" class="form-control" id="backhalf" placeholder="Back-Half" name="backhalf" required />
            <div id="result"></div>
            {% if backhalf_error %}
            <span style="color:red;"> {{backhalf_error}} </span>             
            {% endif %}
        </div>

        <div class="form-group">
            <label for="username">Enter Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username"  name="username" />
            {% if username_error %}
            <span style="color:red;"> {{username_error}} </span>             
            {% endif %}
            <small id="urlHelp" class="form-text text-muted">
                Entering username will add short-link to your profile.
            </small>
        </div>

        <div class="form-group">
            <label for="description">Enter Description </label>
            <textarea rows="3" type="text" class="form-control" id="description" placeholder="Description" name="description"></textarea>
        </div>

        <center><button type="submit" class="btn primary mb-3 mt-3 p-2" style="width:100%">Create</button></center>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        
        $("#backhalf").on("input", function(){
        // Print entered value in a div box
        $("#result").text("Link : https://slcp.herokuapp.com/code/"+$(this).val()+"/");
          });
    });
    
</script>

 {% endblock %}