{% extends "home/base.html" %} {% block title %} Media | ShortLink {% endblock %} {% block body %}


<div class="container mt-4 mb-4">
    <div class="center">
        <p class="section-heading">Short Links of Media</p>
    </div>
    <hr>
    <table class="table table-hover responsive">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Date added</th>
                <th scope="col">Download Link</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in media %}
            <tr>
                <td>{{i.description}}</td>
                <td>{{i.date_time|date:'d-m-Y'}}</td>
                <td><a href="{{url}}{{i.back_half}}/">{{url}}{{i.back_half}}/</a></td>
                <td><a href="{% url 'home:deleteMedia' id=i.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}