{% extends "home/base.html" %} 

{% block title %} URLs | ShortLink {% endblock %}

{% block body %}


<div class="container mt-4 mb-4">
    <div class="center">
        <p class="section-heading">Short Links of Pasted URLs</p>
    </div>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Date added</th>
                <th scope="col">Actual Link</th>
                <th scope="col">Short Link</th>
                </tr>
        </thead>
        <tbody>
            {% for i in urls %}
                <tr>
                    <td>{{i.description}}</td>
                    <td>{{i.date_time|date:'d-m-Y'}}</td>
                    <td> <a href="{{i.url}}">{{i.url}}</a></td>
                    <td><a href="{{url}}{{i.back_half}}/">{{url}}{{i.back_half}}/</a></td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
 {% endblock %}
