{% extends "home/base.html" %}

{% block title %} Home | ShortLink {% endblock %}

{% block body %}

<div class="container mt-4 mb-4" style="margin: auto;">
    <div class="row">

        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Link Shortener</h5>
                    <p class="card-text">Shorten large URLs to small links which you can remember</p>
                    <a class="btn btn-light" href="{%url 'home:urlForm'%}">Try It</a>
                </div>
            </div>

        </div>

        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Code Paster</h5>
                    <p class="card-text">Paste your code and get a short link to access the code</p>
                    <a class="btn btn-light" href="{%url 'home:codePaste'%}">Try It</a>
                </div>
            </div>

        </div>

    </div>

    <br>

 <div class="row">
    <div class="col">
        
         <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Account</h5>
                <p class="card-text">You can view all your Short Links and Code links if you have a account.</p>
                <a class="btn btn-light m-3" href="{%url 'home:signup'%}">Signup</a>
                <a class="btn btn-light m-3" href="{%url 'home:login'%}">Login</a>
            </div>
        </div>

    </div>

</div>



</div>




{% endblock %}