* {
    margin: 0;
    padding: 0;
}

.navbar-dark{
    background-color: #0074B7;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}